﻿@{
    ViewData["Title"] = "Consulta";
}

<div>
    <!-- Filtros -->
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Filtros de Búsqueda</h5>
            <div class="row">
                <div class="col-lg-3">
                    <div class="form-group">
                        <input id="filtro_primer_nombre" type="text" class="form-control" placeholder="Primer nombre" />
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-group">
                        <input id="filtro_otros_nombres" type="text" class="form-control" placeholder="Otros nombres" />
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-group">
                        <input id="filtro_primer_apellido" type="text" class="form-control" placeholder="Primer apellido" />
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-group">
                        <input id="filtro_segundo_apellido" type="text" class="form-control" placeholder="Segundo apellido" />
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-group">
                        <select id="filtro_tipo_identificacion" class="form-control" onchange="">
                            <option value="0">Tipo de identificación</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-group">
                        <input id="filtro_numero_identificacion" type="text" class="form-control" placeholder="Numero identificacion" />
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-group">
                        <select id="filtro_pais" class="form-control" onchange="">
                            <option value="0">Pais</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-group">
                        <input id="filtro_correo" type="email" class="form-control" placeholder="Correo" />
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-group">
                        <select id="filtro_estado" class="form-control">
                            <option value="">Estado</option>
                            <option value="1">Activo</option>
                            <option value="0">Inactivo</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-3">
                    <input type="button" id="btn_filtrar_lista" class="btn btn-primary form-control" onclick="filtrarLista();" value="Buscar" />
                </div>
            </div>
        </div>
    </div>

    <br />

    <!-- Boton Registrar -->
    <button type="button" class="btn btn-primary text-left form-group" data-toggle="modal" data-target="#registerModal">
        Registrar Empleado
    </button>

    <!-- Modal de registro-->
    <div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="registerModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="registerModalLabel">Información de Empleado</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <input type="hidden" id="hidden_id_empleado" value="0" />
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <div class="form-group">
                                    <label for="input_primer_apellido">Primer Apellido</label>
                                    <input id="input_primer_apellido" type="text" class="form-control required" title="Primer Apellido" exp_reg="^[A-Za-z\s]+$" maxlength="20" />
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="form-group">
                                    <label for="input_segundo_apellido">Segundo Apellido</label>
                                    <input id="input_segundo_apellido" type="text" class="form-control required" title="Segundo Apellido" exp_reg="^[A-Za-z\s]+$" maxlength="20" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <div class="form-group">
                                    <label for="input_primer_nombre">Primer Nombre</label>
                                    <input id="input_primer_nombre" type="text" class="form-control required" title="Primer Nombre" exp_reg="^[A-Za-z\s]+$" maxlength="20" />
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="form-group">
                                    <label for="input_otros_nombres">Otros Nombres</label>
                                    <input id="input_otros_nombres" type="text" class="form-control" title="Otros Nombres" exp_reg="^[A-Za-z \s]+$" maxlength="50" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <div class="form-group">
                                    <label for="select_tipo_ident">Tipo de identificacion</label>
                                    <select id="select_tipo_ident" class="form-control">
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="form-group">
                                    <label for="input_num_ident">Número de identificacion</label>
                                    <input id="input_num_ident" type="text" class="form-control required" title="Número de identificación" exp_reg="^[a-zA-Z0-9]+(?:-[a-zA-Z0-9]+)*$" maxlength="20" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-5 col-md-5">
                                <div class="form-group">
                                    <label for="select_pais">Pais</label>
                                    <select id="select_pais" class="form-control">
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-7 col-md-7">
                                <div class="form-group">
                                    <label for="select_area">Area</label>
                                    <select id="select_area" class="form-control">
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-5 col-md-5">
                                <div class="form-group">
                                    <label for="input_fecha_ingreso">Fecha de ingreso</label>
                                    <input type="date" id="input_fecha_ingreso" name="fecha" min="" max="" class="form-control required" />
                                </div>
                            </div>
                            <div class="col-lg-7 col-md-7">
                                <div class="form-group">
                                    <label for="input_fecha_registro">Fecha de Registro</label>
                                    <input type="datetime-local" id="input_fecha_registro" name="fecha" class="form-control" disabled="disabled" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <div class="form-group" style="display:flex;">
                                    <label for="chk_estado">Estado</label>&#160;
                                    <input type="checkbox" id="chk_estado" name="chk_estado" class="form-check" disabled="disabled" style="top: 6px" checked="checked" />
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary" onclick="guardar_Empleado();">Guardar</button>
                </div>
            </div>
        </div>
    </div>

    <br />

    <!--Listado de empleados-->
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th scope="col">&nbsp;</th>
                <th scope="col">Primer Nombre</th>
                <th scope="col">Otros Nombres</th>
                <th scope="col">Primer Apellido</th>
                <th scope="col">Segundo Apellido</th>
                <th scope="col">Tipo de identificación</th>
                <th scope="col">Número de identificación</th>
                <th scope="col">Pais del Empleo</th>
                <th scope="col">Correo</th>
                <th scope="col">Estado</th>
                <th scope="col">&nbsp;</th>
            </tr>
        </thead>
        <tbody id="tb_empleados">
        </tbody>
    </table>

    <!--Contenedor de Alertas-->
    <div id="content_alert" class="alert alert-success alert-dismissible fade show" role="alert">
        <span id="alert_msg"></span>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="~/js/Index.js" asp-append-version="true"></script>
